<div class="col-lg-3">
    <h2>&nbsp;</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Products</strong>
          <span class="options">
          {{#ifCond session.isAdmin '===' true}}
          <a href="/admin/product/new">{{ @root.__ "New" }}</a>
          {{/ifCond}}
          <a href="/admin/products">{{ @root.__ "List" }}</a>
          </span>
        </li>
        <li class="list-group-item"><strong>Orders</strong>
          <span class="options"><a href="/admin/orders">{{ @root.__ "List" }}</a></span>
        </li>
        <li class="list-group-item"><strong>Rebuilds</strong>
          <span class="options"><a href="/admin/rebuilds">{{ @root.__ "List" }}</a></span>
        </li>
        <li class="list-group-item"><strong>Customers</strong>
          <span class="options"><a href="/admin/customers">{{ @root.__ "List" }}</a></span>
        </li>
        <li class="list-group-item"><strong>Users</strong>
          <span class="options">
            {{#ifCond session.isAdmin '===' true}}
              <a href="/admin/user/new">{{ @root.__ "New" }}</a>
              <a href="/admin/users">{{ @root.__ "Edit" }}</a>
            {{/ifCond}}
          </span>
        </li>
        <li class="list-group-item"><strong>{{ @root.__ "Settings" }}</strong></li>
        <li class="list-group-item"><i class="fa fa-user-circle-o fa-icon" aria-hidden="true"></i> &nbsp; <a href="/admin/user/edit/{{session.userId}}">My Account</a></li>
        <li class="list-group-item"><i class="fa fa-cog fa-icon" aria-hidden="true"></i> &nbsp; <a href="/admin/settings">{{ @root.__ "General settings" }}</a></li>
        <li class="list-group-item"><i class="fa fa-bars fa-icon" aria-hidden="true"></i> &nbsp; <a href="/admin/settings/menu">Menu</a></li>
        <li class="list-group-item"><i class="fa fa-file-o fa-icon" aria-hidden="true"></i> &nbsp; <a href="/admin/settings/pages">{{ @root.__ "Static pages" }}</a></li>
    </ul>
</div>