<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
       <div class="col-md-3 col-xl-3 col m3 xl3">
         <ul>
           <li><a><h3>Kala</h3></a></li>
           <li><a><h4>{{ @root.__ "Design" }}</h4></a></li>
           <li><a><h4>{{ @root.__ "Unique" }}</h4></a></li>
           <li><a><h4>{{ @root.__ "New" }}</h4></a></li>
         </ul>
      </div>
      <div class="col-md-3 col-xl-3 col m3 xl3">
         <ul>
           <li><a><h3>{{ @root.__ "Lamps" }}</h3></a></li>
           <li><a><h4>{{ @root.__ "New" }}</h4></a></li>
           <li><a><h4>{{ @root.__ "Material" }}</h4></a></li>
           <li><a><h4>{{ @root.__ "Light" }}</h4></a></li>
         </ul>
      </div>
      <div class="col-md-3 col-xl-3 col m3 xl3">
         <ul>
           <li><a><h3>{{ @root.__ "Orders" }}</h3></a></li>
           <li><a><h4>{{ @root.__ "Payments" }}</h4></a></li>
           <li><a><h4>{{ @root.__ "Delivery" }}</h4></a></li>
           <li><a><h4>{{ @root.__ "Returns" }}</h4></a></li>
         </ul>
      </div>
      <div class="col-md-3 col-xl-3 col m3 xl3">
         <ul>
           <li><a><h3>Web</h3></a></li>
           <li><a><h4>{{ @root.__ "Conditions" }}</h4></a></li>
           <li><a><h4>{{ @root.__ "Privacy" }}</h4></a></li>
           <li><a><h4>{{ @root.__ "Contact" }}</h4></a></li>
         </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="foot-note">
          2019 <span class="font-kala">Kala®</span> All Rights Reserved
        </div>
      </div>
  </div>
  </div>
</div>
