{{> partials/menu}}
<div class="col-lg-9">
    <div class="col-lg-12">
        <h2>Rebuilds</h2>
    </div>
    <div class="col-lg-12 search_bar">
        <!-- <div class="input-group">
            <input type="text" name="order_filter" id="order_filter" class="form-control input-lg" placeholder="Filter orders">
            <span class="input-group-btn">
                <button class="btn btn-success btn-lg" id="btn_order_filter">{{ @root.__ "Filter" }}</button>
                <a href="/admin/orders/bystatus/" class="hidden-xs btn btn-info btn-lg orderFilterByStatus">{{ @root.__ "By status" }}</a>
                <a href="/admin/orders" class="hidden-xs btn btn-warning btn-lg"><i class="fa fa-times" aria-hidden="true"></i></a>
            </span>
        </div> -->
        <div class="orderFilter">
            <div class="col-md-4 no-pad-right">
                <div class="form-group">
                    <label for="orderStatusFilter" class="col-sm-2 control-label formLabel">Status</label>
                    <div class="col-sm-10 no-pad-right">
                        <select class="form-control input-sm" id="orderStatusFilter">
                            <option value="0">{{ @root.__ "Created" }}</option>
                            <option value="1">{{ @root.__ "Confirmed" }}</option>
                            <option value="2">{{ @root.__ "Paid" }}</option>
                            <option value="3">{{ @root.__ "Started" }}</option>
                            <option value="4">{{ @root.__ "Sent" }}</option>
                            <option value="5">{{ @root.__ "Cancelled" }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 top-pad-10">
        <ul class="list-group">
            <li class="list-group-item">
              {{#if searchTerm}}
                  <strong>{{ @root.__ "Rebuilds" }} - <span class="text-danger">{{ @root.__ "Filtered term" }}: {{searchTerm}} </span></strong>
              {{else}}
                  <strong>{{ @root.__ "Recent rebuilds" }}</strong>
              {{/if}}
            </li>
            {{#if rebuilds}}
              {{#each rebuilds}}
                <li class="list-group-item">
                    <h4 class="pull-right" style="padding-left: 10px;">
                        {{ @root.__ "Status" }}: <span class="text-green">{{getStatusRebuild this.status}}</span>
                        <a class="text-danger" href="/admin/order/delete/{{this._id}}" onclick="return confirm('Are you sure you want to delete this order?');"> <i class="fa fa-trash-o"></i></a>
                    </h4>
                    <h5>
                        <a href="/admin/order/view/{{this._id}}" class="text-success">View order</a> - <span class="text-info">Date: </span>{{formatDate this.created "DD/MM/YYYY hh:mm"}} | <span class="text-info">Email:</span> {{this.customerEmail}}

                        <a href="/admin/product/edit/{{this.productId}}" class="text-success">View product</a>
                    </h5>
                </li>
              {{/each}}
            {{else}}
                <li class="list-group-item">
                    <h4 class="text-center">
                        {{ @root.__ "No rebuilds found" }}
                    </h4>
                </li>
            {{/if}}
        </ul>
    </div>
</div>